{% extends 'base.html' %}
{% block title %} Receipts {% endblock title %}
{% block content %}
<h1>My Accounts</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {%for account in accounts%}
        <td>{{account.name}}</td>
        <td>{{account.number}}</td>
        <td>{{account.receipts.count}}</td>
        {%endfor%}
    </tbody>
</table>


{% endblock content %}
