{% extends 'base.html' %}
{% block title %} Receipts {% endblock title %}
{% block content %}
<h1>My Expense Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {%for category in categories%}
        <td>{{category.name}}</td>
        <td>{{category.receipts.count}}</td>
        {%endfor%}
    </tbody>
</table>
{% endblock content %}
